body{
  text-align: center;
}

.bottom-container {
background-color: #323232;
font-size: 1em;
font-weight: 200;
padding: 50px 0 20px;
}

.footer-link{
  font-size: 1em;
  margin-top: 20px;
  color: #f5fcc1;
}

hr{
      border-color: grey;
      width: 5%;
      border-width: 5px;
      border-style: none;
      border-top-style: dotted;
}

h2
{
  margin : 10px;
}

h3{
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 200;
}

a {
  color: #f5fcc1;
  font-family: sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.book-img{
  height : 300px;
  width : 250px;
  border-radius: 15%;
}

.car-img
{
  width: 70%;
  height: 500px;
  border-radius: 30%;
  margin: 30px;
}

#about{
  margin-left: 15%;
  margin-right: 15%;
}

.btn {
  background: #EAF6F6;
  background-image: -webkit-linear-gradient(top, #EAF6F6, #11999e);
  background-image: -moz-linear-gradient(top, #EAF6F6, #11999e);
  background-image: -ms-linear-gradient(top, #EAF6F6, #11999e);
  background-image: -o-linear-gradient(top, #EAF6F6, #11999e);
  background-image: linear-gradient(top, #EAF6F6, #11999e);
  background-image: -webkit-gradient(top, #EAF6F6, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #EAF6F6;
  background-image: -webkit-linear-gradient(top, #EAF6F6, #2bc4ad);
  background-image: -moz-linear-gradient(top, #EAF6F6, #2bc4ad);
  background-image: -ms-linear-gradient(top, #EAF6F6, #2bc4ad);
  background-image: -o-linear-gradient(top, #EAF6F6, #2bc4ad);
  background-image: linear-gradient(to bottom, #EAF6F6, #2bc4ad);
  background-image: -webkit-gradient(top, #EAF6F6, #2bc4ad);
  text-decoration: none;
}
